/* CSS-variabelen voor basiskleuren */
:root {
    --primair-rood: #ce2029; /* Feyenoord-rood */
    --primair-wit: #ffffff; /* Wit */
    --primair-zwart: #000000; /* Zwart */
    --secundair-grijs: #f2f2f2; /* Lichtgrijs */
    --accent-kleur: #0077cc; /* Accentkleur voor links */
}

